<h1>Componente 2</h1>
<h6>Este componente lee del MessageState y obtiene sus valores</h6>
<p>
  Si el Componente 1 modifica algo del State, este componente verá reflejado el cambio
  además de renderizarlo en la vista
</p>

<!-- Mostramos los valores en el MessageState que obtenemos gracias al StoreService -->
<p>Mensaje en el MessageState: {{mensaje}}</p>
<p>Valor en el MessageState: {{valor}}</p>
